@page "/admin/DanhSachDatLich"
@inject PetHealthRepository Repository
@inject IToastService ToastService
@inject NavigationManager Navigation
@layout AdminLayout

<PageTitle>Danh Sách Đặt Lịch</PageTitle>

<h3 style="text-align:center">DANH SÁCH LỊCH HẸN</h3>
<div>
    <button>
        <NavLink href="/admin/ThemDatLich">
            <span class="button__text">Thêm Lịch Hẹn</span>
            <span class="button__icon">
                <i class="fa-solid fa-plus" style="color: #63E6BE;"></i>
            </span>
        </NavLink>
    </button>
</div>

<div>

    <div class="col-8">
        @if (DatLichs is null)
        {
            <div class="bacsi-item">
                Đang tải dữ liệu. Vui lòng đợi...
            </div>
        }
        @if (DatLichs != null && DatLichs.Any())
        {
            @foreach (var datlich in DatLichs)
            {
                <div class="bacsi-item">
                    <DatLichCard datlich="datlich" OnDatLich="ShowNotification"></DatLichCard>
                </div>
            }
        }
        else
        {
            <p>Không có lịch hẹn nào để hiển thị.</p>
        }
    </div>
</div>

<Notification Message="@notificationMessage" Visible="@showNotification" OnClose="HideNotification" />

@code {
    private List<DatLich> DatLichs = new List<DatLich>();
    private bool showNotification = false;
    private string notificationMessage;

   
    private void ShowNotification(DatLich datlich)
    {
        notificationMessage = $"Đã đặt lịch cho mã hẹn: {datlich.MaHen}";
        showNotification = true;
    }

    private void HideNotification()
    {
        showNotification = false;
    }

    protected override async Task OnInitializedAsync()
    {
        var uri = Navigation.ToAbsoluteUri(Navigation.Uri);
        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("success", out var success) && success == "true")
        {
            ToastService.ShowSuccess("Lịch hẹn đã được tạo thành công!");
        }

        try
        {
            DatLichs = await Repository.GetAllAsyncDatLich() ?? new List<DatLich>();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error: {ex.Message}");
            DatLichs = new List<DatLich>();
        }
    }
}
