@page "/ThemDatLich"
@inject PetHealthRepository Repository
@inject NavigationManager Navigation

<PageTitle>Thêm Đặt Lịch</PageTitle>
<h3 style="text-align:center">THÊM ĐẶT LỊCH</h3>
<EditForm Enhance="true" method="post" FormName="ThemLichHen" OnValidSubmit="AddDatLich" Model="datlich" autocomplete="off" class="form">

    <div class="input-box">
        <label>Giá Khám</label>
        <InputNumber id="GiaKham" @bind-Value="datlich.GiaKham" type="number" required />
    </div>

    <div class="column">
        <div class="input-box">
            <label>Trạng Thái Thanh Toán</label>
            <InputCheckbox id="TrangThaiTT" @bind-Value="datlich.TrangThaiTT" required />
        </div>

        <div class="input-box">
            <label>Trạng Thái Hẹn</label>
            <InputCheckbox id="TrangThaiHen" @bind-Value="datlich.TrangThaiHen" required />
        </div>
    </div>

    <div class="input-box">
        <label>Ngày Giờ Hẹn</label>
        <InputDate id="NgayGioHen" @bind-Value="datlich.NgayGioHen" required />
    </div>

    <button type="submit" class="submit" style="float:right">Hoàn Thành</button>

    <button class="return" style="float:left">
        <NavLink href="/DanhSachBacSi" style="text-decoration:none;color:white">Quay lại</NavLink>
    </button>

    <DataAnnotationsValidator />
    <ValidationSummary />
</EditForm>

@code {
    [SupplyParameterFromForm]
    public DatLich datlich { get; set; } = new();

    private async Task AddDatLich()
    {
        await Repository.AddAsyncDatLich(datlich);
        Navigation.NavigateTo("/DanhSachDatLich"); // Điều hướng về trang phù hợp
    }
}
