@page "/DanhSachLichHen"
<h3 style="text-align:center">DANH SÁCH LỊCH HẸN</h3>

<table class="content-table">
    <thead>
        <tr>
            <th>Tên khách hàng</th>
            <th>Giờ bắt đầu</th>
            <th>Trạng thái</th>
            <th>Hành động</th>
        </tr>
    </thead>
    <tbody>

                <tr>
                    <td>nguyen an</td>
                    <td>11:15</td>
                    <td>da xac nhan</td>
                    <td>
                <a href="/HoSoKhamBenh">
                    <i class="fa-solid fa-pen-to-square"></i>
                </a>
                    </td>
                </tr>
    </tbody>
</table>

@code {

}
 



