@page "/HoSoKhamBenh"
<h3>HỒ SƠ KHÁM BỆNH</h3>

<form action="#">
    <div class="user-details">
        <!-- Input for Full Name -->
        <div class="input-box">
            <span class="details">Tên thú cưng</span>
            <input type="text"  required>
        </div>
        <!-- Input for Username -->
        <div class="input-box">
            <span class="details">Ngày sinh</span>
            <input type="date"  required>
        </div>
        <!-- Input for Email -->
        <div class="input-box">
            <span class="details">Tên khách hàng</span>
            <input type="text"  required>
        </div>
        <!-- Input for Phone Number -->
        <div class="input-box">
            <span class="details">Email</span>
            <input type="text" required>
        </div>
        <!-- Input for Password -->
        <div class="input-box">
            <span class="details">Ngày khám</span>
            <input type="date"  required>
        </div>
        <!-- Input for Confirm Password -->
        <div class="input-box">
            <span class="details">Điều trị</span>
            <input type="text"  required>
        </div>

    </div>
    <div class="input-box">
        <span class="details">Chuẩn đoán</span>
        <input type="text" required>
    </div>

    <!-- Submit button -->
    <div class="button">
        <input type="submit" value="Kê đơn"> 
    </div>
</form>
@code {

}
