.btn-return[b-9937df7pwl] {
    font-size: 15px;
    border: none;
    outline: none;
    padding: 6px 16px;
    border-radius: 5px;
    background-color: #0D92F4;
    color: white;
    text-decoration:none
}
.btn-submit[b-9937df7pwl] {
    font-size: 15px;
    border: none;
    outline: none;
    padding: 6px 16px;
    border-radius: 5px;
    background-color: #399918;
    color: white;
}