@page "/admin/ChinhSuaKhachHang/{id:int}"
@inject PetHealthRepository Repository
@inject NavigationManager Navigation
@layout AdminLayout
<PageTitle>
    Cập Nhật Khách Hàng
</PageTitle>

@if (KhachHang is not null)
{
    <div class="row justify-content-center">
        <div class="col-7">
            <EditForm Enhance="true" method="post" FormName="CapNhatKhachHang" OnValidSubmit="CapNhatKhachHang" Model="KhachHang" autocomplete="off" class="form">


                <div class="form-group">
                    <label for="TenKhachHang">Tên Khách Hàng</label>
                    <InputText id="TenKhachHang" @bind-Value="KhachHang.TenKhachHang" class="form-control" required />
                </div>



                <div class="form-group">
                    <label for="SoDienThoai">Số Điện Thoại</label>
                    <InputText id="SoDienThoai" @bind-Value="KhachHang.SoDienThoai" class="form-control" required />
                </div>



                <div class="form-group">
                    <label for="Email">Email</label>
                    <InputText id="Email" @bind-Value="KhachHang.Email" class="form-control" required />
                </div>





                <div class="form-group">
                    <label for="DiaChi">Địa Chỉ</label>
                    <InputText id="DiaChi" @bind-Value="KhachHang.DiaChi" class="form-control" required />
                </div>



                <div class="form-group">
                    <label for="TenThuCung">Tên Thú Cưng</label>
                    <InputText id="TenThuCung" @bind-Value="KhachHang.TenThuCung" class="form-control" required />
                </div>




                <div class="form-group">
                    <label for="TinNhan">Tin Nhắn</label>
                    <InputText id="TinNhan" @bind-Value="KhachHang.LoiNhan" class="form-control" />
                </div>


                <div class="button-group">
                    <button type="button" class="return">
                        <NavLink href="/admin/DanhSachKhachHang" style="text-decoration:none;color:white">Quay lại</NavLink>
                    </button>
                    <button type="submit" class="submit">Hoàn Thành</button>
                </div>

                <DataAnnotationsValidator />
                <ValidationSummary />
            </EditForm>
        </div>
    </div>
}



@code {
    [Parameter]
    public int Id { get; set; }

    [SupplyParameterFromForm]
    public KhachHang? KhachHang { get; set; }

    protected override async Task OnInitializedAsync()
    {
        KhachHang ??= await Repository.GetByIdAsyncKhachHang(Id);
    }

    private async Task CapNhatKhachHang()
    {
        if (KhachHang is not null)
        {
            await Repository.UpdateAsyncKhachHang(KhachHang);
            Navigation.NavigateTo("/admin/DanhSachKhachHang");
        }
    }

}
