@page "/DanhSachKhachHang"
@inject PetHealthRepository Repository
@rendermode InteractiveServer
<PageTitle>Danh Sách Khách Hàng</PageTitle>

<div class="row justify-content-center">
    <div class="col-8 text-right mb-4">
        <button>
            <NavLink href="ThemKhachHang">
                <span class="button__text">Thêm khách hàng</span>
                <span class="button__icon">
                    <i class="fa-solid fa-plus" style="color: #63E6BE;"></i>
                </span>
            </NavLink>
        </button>
    </div>

    <div class="col-8">
        <!-- If no medicine data is available -->
        @if (KhachHangs is null)
        {
            <div class="thuoc-item">
                Đang tải dữ liệu. Vui lòng đợi...
            </div>
        }
        <!-- If there is medicine data -->
        @if (KhachHangs != null && KhachHangs.Any())
        {   

            @foreach (var khachHang in KhachHangs)
            {
                <div class="thuoc-item">
                    <KhachHangCard khachHang="khachHang"></KhachHangCard>
                </div>
            }
        }
        else
        {
            <p>Không có khách hàng nào để hiển thị.</p>
        }
    </div>
</div>

@code {
    private List<KhachHang> KhachHangs = new List<KhachHang>();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            // Fetch the list of medicines from the repository
            KhachHangs = await Repository.GetAllAsyncKhachHang() ?? new List<KhachHang>();
        }
        catch (Exception ex)
        {
            // Handle the exception and log if necessary
            Console.WriteLine($"Error: {ex.Message}");
            KhachHangs = new List<KhachHang>(); // Assign an empty list in case of an error
        }
    }
}
