@page "/ThemKhachHang"
@inject PetHealthRepository Repository
@inject NavigationManager Navigation

<PageTitle> Thêm Khách Hàng</PageTitle>
<h3 style="text-align:center">Thêm Khách Hàng</h3>
<EditForm Enhance="true" method="post" FormName="ThemKhachHang" OnValidSubmit="AddKhachHang" Model="khachHang" autocomplete="off" class="form">
    <div class="input-box">
        <label>Tên Khách Hàng</label>
        <InputText id="TenKhachHang" @bind-Value="khachHang.TenKhachHang" type="text" required />
    </div>

    <div class="column">
        <div class="input-box">
            <label>Số Điện Thoại</label>
            <InputText id="SoDienThoai" @bind-Value="khachHang.SoDienThoai" type="text" required />
        </div>

        <div class="input-box">
            <label>Email</label>
            <InputText id="Email" @bind-Value="khachHang.Email" type="text" required />
        </div>
    </div>

    <div class="column">
        <div class="input-box">
            <label>Địa Chỉ</label>
            <InputText id="DiaChi" @bind-Value="khachHang.DiaChi" type="text" required />
        </div>

        <div class="input-box">
            <label>Tên Thú Cưng</label>
            <InputText id="TenThuCung" @bind-Value="khachHang.TenThuCung" type="text" required />
        </div>
    </div>

    <button class="submit" style="float:right">Hoàn Thành</button>

    <button class="return" style="float:left">
        <NavLink href="/DanhSachKhachHang" style="text-decoration:none;color:white">Quay lại</NavLink>
    </button>

    <DataAnnotationsValidator />
    <ValidationSummary />
</EditForm>

@code {
    [SupplyParameterFromForm]
    public KhachHang khachHang { get; set; } = new();

    private async Task AddKhachHang()
    {
        await Repository.AddAsyncKhachHang(khachHang);
        Navigation.NavigateTo("");
    }
}
