@page "/listMedi"
<h3 style="text-align:center">DANH SÁCH THUỐC</h3>
    <button>
        <NavLink href="addMedi">
            <span class="button__text">Thêm thuốc</span>
            <span class="button__icon">
                <i class="fa-solid fa-plus" style="color: #63E6BE;"></i>
            </span>
        </NavLink>
    </button>
    <PhongKhamThuY.Components.Table.TbMedicine/>
@code {

}
