@page "/admin/ThemHoSo"
@inject PetHealthRepository Repository
@inject NavigationManager Navigation
@layout AdminLayout
@inject IAntiforgery Antiforgery
<PageTitle> Thêm Hồ Sơ</PageTitle>
<h3 style="text-align:center">THÊM HỒ SƠ</h3>
<div class="row justify-content-center">
    <div class="col-7">
        <EditForm Enhance="true" method="post" FormName="ThemHoSo" OnValidSubmit="AddHoSo" Model="HoSo" autocomplete="off" class="form">


            <div class="form-group">
                <label>Tên Chủ</label>
                <InputText id="TenChu" @bind-Value="HoSo.TenChu" type="text" class="form-control" required />
            </div>



            <div class="form-group">
                <label>Tên Thú Cưng</label>
                <InputText id="TenThuCung" @bind-Value="HoSo.TenThuCung" type="text" class="form-control" required />
            </div>



            <div class="form-group">
                <label>Tuổi</label>
                <InputNumber id="Tuoi" @bind-Value="HoSo.Tuoi" type="number" class="form-control" required />
            </div>



            <div class="form-group">
                <label>Cân Nặng Thú Cưng</label>
                <InputNumber id="Cannang" @bind-Value="HoSo.CanNang" type="number" class="form-control" required />
            </div>




            <div class="form-group">
                <label>Tình Trạng Thú Cưng</label>
                <InputText id="TinhTrangThuCung" @bind-Value="HoSo.TinhTrang" type="text" class="form-control" required />
            </div>



            <div class="form-group">
                <label>Chuẩn Đoán</label>
                <InputText id="ChuanDoan" @bind-Value="HoSo.ChuanDoan" type="text" class="form-control" required />
            </div>




            <div class="form-group">
                <label>Loại Vật Nuôi</label>
                <InputText id="LoaiVatNuoi" @bind-Value="HoSo.LoaiVatNuoi" type="text" class="form-control" required />
            </div>




            <div class="form-group">
                <label>Giống Loài</label>
                <InputText id="LoaiVatNuoi" @bind-Value="HoSo.Giong" type="text" class="form-control" required />
            </div>



            <div class="button-group">
                <button type="button" class="return">
                    <NavLink href="/admin/DanhSachHoSo" style="text-decoration:none;color:white">Quay lại</NavLink>
                </button>
                <button type="submit" class="submit">Hoàn Thành</button>
            </div>

            <DataAnnotationsValidator />
            <ValidationSummary />
        </EditForm>
    </div>
</div>

@code {
    [SupplyParameterFromForm]
    public HoSoThuNuoi HoSo { get; set; } = new();
    private async Task AddHoSo()
    {
        await Repository.AddAsyncHoSo(HoSo);
        Navigation.NavigateTo("/admin/DanhSachHoSo");
    }
}