@page "/admin/DanhSachBacSi"
@inject PetHealthRepository Repository
@rendermode InteractiveServer
@inject NavigationManager Navigation
@layout AdminLayout
<PageTitle>Danh Sách Bác Sĩ</PageTitle>

<h3 style="text-align:center">DANH SÁCH BÁC SĨ</h3>
<div>
    <button>
        <NavLink href="/admin/ThemBacSi">
            <span class="button__text">Thêm Bác Sĩ</span>
            <span class="button__icon">
                <i class="fa-solid fa-plus" style="color: #63E6BE;"></i>
            </span>
        </NavLink>
    </button>
</div>

<div>
    <div class="col-8">

        @if (BacSis is null)
        {
            <div class="thuoc-item">
                Đang tải dữ liệu. Vui lòng đợi...
            </div>
        }

        @if (BacSis != null && BacSis.Any())
        {
            @foreach (var bacSi in BacSis)
            {
                <div class="thuoc-item">
                    <BacSiCard bacSi="bacSi"></BacSiCard>
                </div>
            }
        }
        else
        {
            <p>Không có khách hàng nào để hiển thị.</p>
        }
    </div>
</div>

@code {




    private List<BacSi> BacSis = new List<BacSi>();
    protected override async Task OnInitializedAsync()
    {
        try
        {

            BacSis = await Repository.GetAllAsyncBacSi() ?? new List<BacSi>();
        }
        catch (Exception ex)
        {

            Console.WriteLine($"Error: {ex.Message}");
            BacSis = new List<BacSi>();
        }
    }
}
