@page "/admin/ThemBacSi"
@inject PetHealthRepository Repository
@inject NavigationManager Navigation
@layout AdminLayout
@inject IAntiforgery Antiforgery
<PageTitle> Thêm Bác Sĩ</PageTitle>
<h3 style="text-align:center">THÊM BÁC SĨ</h3>
<div class="row justify-content-center">
    <div class="col-7">
        <EditForm Enhance="true" method="post" FormName="ThemBacSi" OnValidSubmit="AddBacSi" Model="bacSi" autocomplete="off" class="form">


            <div class="form-group">
                <label>Tên Bác sĩ </label>
                <InputText id="TenBacSi" @bind-Value="bacSi.TenBacSi" class="form-control" required />
            </div>



            <div class="form-group">
                <label>Số Điện Thoại</label>
                <InputText id="SoDienThoai" @bind-Value="bacSi.SoDienThoai" class="form-control" type="number" required />
            </div>




            <div class="form-group">
                <label>Email</label>
                <InputText id="Email" @bind-Value="bacSi.Email" type="email" class="form-control" required />
            </div>





            <div class="form-group">
                <label>Địa Chỉ</label>
                <InputText id="DiaChi" @bind-Value="bacSi.DiaChi" class="form-control" required />
            </div>


            <div class="button-group">
                <button type="button" class="return">
                    <NavLink href="/admin/DanhSachBacSi" style="text-decoration:none;color:white">Quay lại</NavLink>
                </button>
                <button type="submit" class="submit">Hoàn Thành</button>
            </div>

            <DataAnnotationsValidator />
            <ValidationSummary />
        </EditForm>
    </div>
</div>

@code {
    [SupplyParameterFromForm]
    public BacSi bacSi { get; set; } = new();
    private async Task AddBacSi()
    {
        await Repository.AddAsyncBacSi(bacSi);
        Navigation.NavigateTo("/admin/DanhSachBacSi");
    }
}