.form .input-box[b-bpxfy7alf1] {
    width: 100%;
    margin-top: 20px;
}

.input-box label[b-bpxfy7alf1] {
    color: #333;
}

.form :where(.input-box input, .select-box)[b-bpxfy7alf1] {
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #707070;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
}

.input-box input:focus[b-bpxfy7alf1] {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.form .column[b-bpxfy7alf1] {
    display: flex;
    column-gap: 15px;
}

.form .gender-box[b-bpxfy7alf1] {
    margin-top: 20px;
}

.gender-box h3[b-bpxfy7alf1] {
    color: #333;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 8px;
}

.form :where(.gender-option, .gender)[b-bpxfy7alf1] {
    display: flex;
    align-items: center;
    column-gap: 50px;
    flex-wrap: wrap;
}

.form .gender[b-bpxfy7alf1] {
    column-gap: 5px;
}

.gender input[b-bpxfy7alf1] {
    accent-color: rgb(130, 106, 251);
}

.form :where(.gender input, .gender label)[b-bpxfy7alf1] {
    cursor: pointer;
}

.gender label[b-bpxfy7alf1] {
    color: #707070;
}

.address :where(input, .select-box)[b-bpxfy7alf1] {
    margin-top: 15px;
}

.select-box select[b-bpxfy7alf1] {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    color: #707070;
    font-size: 1rem;
}

.form button[b-bpxfy7alf1] {
    padding: 10px;
    width: 100px;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 30px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
    /*background: #FFD43B*/ /*rgb(130, 106, 251)*/ /*;*/
}

.form .return[b-bpxfy7alf1] {
    background: #3FA2F6;
}

    .form .return:hover[b-bpxfy7alf1] {
        background: #0F67B1 /*rgb(88, 56, 250)*/;
    }

.form .submit[b-bpxfy7alf1] {
    background: #FFDE4D;
}

    .form .submit:hover[b-bpxfy7alf1] {
        background: #FFB22C;
    }
/*Responsive*/
@media screen and (max-width: 500px) {
    .form .column[b-bpxfy7alf1] {
        flex-wrap: wrap;
    }

    .form :where(.gender-option, .gender)[b-bpxfy7alf1] {
        row-gap: 15px;
    }
}
