@inherits LayoutComponentBase

<!-- Import Font Awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
<!-- Page Layout -->
<div class="min-h-screen flex">
     <NavMenu />
    <main class="flex-1 p-4">
        @Body
    </main>
</div>
