
.page {
    position: relative;
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

main {
    padding: 15px;
    flex: 1;
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }
}