@inherits LayoutComponentBase

<div class="page">
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
        <label class="logo">
            <i class="fa-solid fa-paw icon" style="color: #fff;"></i>
            PetHealth
            </label>
        <ul>
            <li><a class="active" href="#">Home</a></li>
            <li><a href="/DanhSachLichHen">Danh sách lịch hẹn</a></li>
            <li><a href="/Danhsachthunuoi">Danh sách thú nuôi</a></li>
            @* <li><a href="/KeDonThuoc">Kê đơn thuốc</a></li> *@
        </ul>
    </nav>
    <main>
@Body
    </main>
</div>

