@* 



<div id="body">
    <div class="l-navbar" id="navbar">
        <nav class="nav">
            <div>
                <a href="#" class="nav__logo">
                 
          
                    <i class="fa-solid fa-paw nav__icon"></i>
                    <span class="nav__logo-text">Phòng Khám</span>
                </a>

                <div class="nav__toggle" id="nav-toggle">
                    <i class="fa-solid fa-angles-right" style="color: #B197FC;"></i>
                </div>

                <ul class="nav__list">
                    <NavLink class="nav-link" href="listCus" style="color:black">
                        <i class="fa-solid fa-user fas nav__icon" style="color: #dd2cce;"></i>
                        <span class="nav__text">Khách hàng</span>
                    </NavLink>
                    <NavLink class="nav-link" href="listDoctor" style="color:black">
                        <i class="fa-solid fa-user-doctor fas nav__icon" style="color: #74C0FC;"></i>
                        <span class="nav__text">Bác sĩ</span>
                    </NavLink>
                    <NavLink class="nav-link" href="listBranch" style="color:black">
                        <i class="fa-solid fa-code-branch fas nav__icon" style="color: #63E6BE;"></i>
                        <span class="nav__text">Chi nhánh</span>
                    </NavLink>
                    <NavLink class="nav-link" href="listSche" style="color:black">
                        <i class="fa-regular fa-calendar-days fas nav__icon" style="color: #B197FC;"></i>
                        <span class="nav__text">Lịch hẹn</span>
                    </NavLink>
                    <NavLink class="nav-link" href="listMedi" style="color:black">
                        <i class="fa-solid fa-capsules fas nav__icon" style="color: #FFD43B;"></i>
                        <span class="nav__text">Thuốc</span>
                    </NavLink>
                    <NavLink class="nav-link" href="listRev" style="color:black">
                        <i class="fa-solid fa-chart-line fas nav__icon" style="color: #ff0000;"></i>
                        <span class="nav__text">Thống kê doanh thu</span>
                    </NavLink>
                </ul>
            </div>
            <a href="#" class="nav__link">
                <i class="fas fa-sign-out-alt nav__icon"></i>
                <span class="nav__text">Close</span>
            </a>
        </nav>
    </div>
   
</div> *@




<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel="stylesheet">
     

  


@*   <script>
  let sidebar = document.querySelector(".sidebar");
  let closeBtn = document.querySelector("#btn");
  let searchBtn = document.querySelector(".bx-search");
  closeBtn.addEventListener("click", ()=>{
    sidebar.classList.toggle("open");
    menuBtnChange();//calling the function(optional)
  });
  searchBtn.addEventListener("click", ()=>{ // Sidebar open when you click on the search iocn
    sidebar.classList.toggle("open");
    menuBtnChange(); //calling the function(optional)
  });
  // following are the code to change sidebar button(optional)
  function menuBtnChange() {
   if(sidebar.classList.contains("open")){
     closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");//replacing the iocns class
   }else {
     closeBtn.classList.replace("bx-menu-alt-right","bx-menu");//replacing the iocns class
   }
  }
  </script> *@
